<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css"]"/>
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor/css/motronic.min.css"]"/>

    <link rel="stylesheet" href="@Assets["_content/TinyViz.WebUi/TinyViz.WebUi.bundle.scp.css"]"/>
    <link rel="stylesheet" href="@Assets["_content/TinyViz.WebUi/layout.css"]"/>

    <HeadOutlet/>
</head>

<body>
<AppRouter @rendermode="InteractiveServer"/>

<script src="@Assets["_framework/blazor.web.js"]"></script>
<script src="@Assets["_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"]"></script>
</body>

</html>


